.paper{:style => "padding: 40px;"}
  .tile.nbg{"data-g" => "title", "data-layout" => "[0, 0, 24, 3]"}
  .tile.nbg{"data-layout" => "[0, 3, 24, 21]"}
    .tile.nbg{"data-layout" => "[0, 0, 17, 24]", :style => "padding-right: 50px;"}
      .tile.nbg{"data-g" => "path-map", "data-layout" => "[0, 0, 24, 24]"}
    .tile.nbg{"data-layout" => "[17, 0, 7, 24]"}
      .tile.nbg.withbd{"data-g" => "areas-bar", "data-layout" => "[0, 0, 24, 8]"}
      .tile.nbg{"data-layout" => "[0, 8, 24, 10]"}
        .tile.nbg{"data-g" => "line-chart-title", "data-layout" => "[0, 0, 24, 6]"}
        .tile.nbg{"data-g" => "line-chart", "data-layout" => "[0, 6, 24, 18]"}
      .tile.nbg{"data-g" => "one-area", "data-layout" => "[0, 18, 24, 6]"}