.paper.large
  .tile.nbg{"data-layout" => "[0, 0, 24, 15]"}
    #heatmap.tile.nbg{"data-g" => "main-map", "data-layout" => "[0, 0, 24, 24]"}

  .tile.nbg{"data-layout" => "[0, 15, 24, 9]"}
    .tile.nbg{"data-g" => "line-chart-title", "data-layout" => "[0, 0, 24, 8]"}
    .tile.nbg{"data-g" => "line-chart", "data-layout" => "[0, 8, 24, 16]"}