$text-color: mix(#1A2842, #fff, 40%);
$title-color: mix(#1A2842, #fff, 20%);

$BG-COLOR: #021225;
$NUMBER-COLOR: #ffde00;

body {
  // background-color: $BG-COLOR;
  background-color: transparent;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif, '微软雅黑';
  color: white;
}

body#demo3, body#demo4 {
  // background-color: #1983af;
}

a {color: white;}

* { box-sizing: border-box; }

.paper {
  // background-color: rgba(black, 0.1);
}

.tile {
  background-color: rgba(white, 0.1);
  position: absolute;
}
.tile:nth-child(even) {
  background-color: rgba(white, 0.2);
}

.tile.nbg {
  background-color: transparent;
}

$text-color: rgba(white, 0.5);
.axis {
  path {
    stroke: $text-color;
  }

  .tick line {
    stroke: $text-color;
  }
  .tick text {
    fill: $text-color;
    font-size: 16px;
    font-family: arial, '微软雅黑';
  }
}

.axis.white {
  path.domain {
    // stroke-width: 3px;
  }

  path {
    stroke: #ffffff;
  }

  .tick line {
    stroke: #ffffff;
    // stroke-width: 3px;
  }

  .tick text {
    fill: #ffffff;
    font-size: 24px;
  }
}

g text {
  font-family: arial, '微软雅黑';
}

@keyframes mpp {
  to {
    transform: translate(-30px, -75px);
  }
  from {
    transform: translate(-30px, -50px);
  }
}

image.map-point {
  animation-name: mpp;
  animation-duration: 1s;
  // animation-timing-function: linear;
  animation-iteration-count: infinite;
}